* {margin:0 auto; padding:0;}

html, body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #cccccc;
    color: #333333;
}

/* --------------------------------
    HEADER and MENU
   -------------------------------- */
header {
    position: relative;
    z-index: 1000;
    margin: auto;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

ul.menu {
    padding-top: 4px;
    padding-bottom: 4px;
}

ul.menu li {
    vertical-align:middle;
	padding: 0px 25px;
	list-style: none;
	display: inline;
}

ul.menu li#name {
    font-size: 16pt;
	padding: 0px 25px;
	list-style: none;
	display: inline;
	border-right: 1px solid #ccc;
}

a.menu_item {
    text-decoration: none;
    color: #D41513;
}

a.menu_item:hover {
    text-decoration: underline;
    color: #FA000D;
}

h1, h2, h3, h4, h5, h6, h7 {
    color: #333333;
}

h1 {
    letter-spacing: 8px;
    font-size: 400%;
    color: #111111;
    font-weight: 900;
}

h2 {
    letter-spacing: 2px;
    font-size: 250%;
    font-weight: 400;
}

h3 {
    letter-spacing: 2px;
    font-size: 150%;
    font-weight: 300;
}

h4 {
    font-size: 130%;
    font-weight: 200;
}

/* --------------------------------
    LINKS
   -------------------------------- */
a {
    text-decoration: none;
    color: #D41513;
}

a:hover {
    text-decoration: underline;
    color: #FA000D;
}

/* --------------------------------
    CONTENT
   -------------------------------- */
#content {
    margin-top: 20px;
    width: 50%;
}


/* --------------------------------
    FOOTER
   -------------------------------- */
#footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12pt;
    color: #bbb;
    font-weight: 200;
}

/*
*/
#bgcanvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* --------------------------------
    MISC
   -------------------------------- */
hr.divider {
    width: 40%;
    size: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #888;
}

img.main {
    margin-right: 15px;
}
